<ion-view title="add-recipe" ng-app="starter" ng-controller="AddRecipeController">

<div class="bar bar-header bar-jaune">
  <h1 class="title">TASTE!T</h1>
</div>

    <ion-content>

        <div ng-app="sampleApp" ng-controller="SampleCtrl" style="padding-top: 20%">
            <div ng-show="authData">
                <p>Hello, {{ authData.facebook.displayName }}</p>
                <button ng-click="auth.$unauth()" ui-sref="login">Logout</button>
            </div>
            <div ng-hide="authData">
                <p>Welcome, please log in.</p>
                <button ng-click="auth.$authWithOAuthPopup('facebook')" ui-sref="home">Login With Facebook</button>
            </div>
        </div>

    <p>&nbsp;<br>
      &nbsp;</p>

    <!-- <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Titre de la recette">
      </label>
      
        <label class="item item-input item-select">
          <div class="input-label">
            Durée (en min)
          </div>
          <select>
            <option selected>- de 5</option>
            <option>5 - 10</option>
            <option>10 - 30</option>
            <option>+ de 30</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Difficulté
          </div>
          <select>
            <option selected>Facile</option>
            <option>Moyen</option>
            <option>Difficile</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Sucré ou Salé ?
          </div>
          <select>
            <option selected>Sucré</option>
            <option>Salé</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Type de plat
          </div>
          <select>
            <option selected>Appéritif</option>
            <option>Entrée</option>
            <option>Plat</option>
            <option>Soupe</option>
            <option>Dessert</option>
            <option>Cocktail</option>
          </select>
        </label>

       <label class="itme item-input">
          <div class="input-label">
            Fruits et/ou Légumes ?
          </div>
        </label>

        <div class="choix-flr">
      
        <ion-checkbox ng-model="filter.blue">Fruits</ion-checkbox>
        <ion-checkbox ng-model="filter.yellow">Légumes</ion-checkbox>
        <ion-checkbox ng-model="filter.pink">Aucun</ion-checkbox>

        </div> 

        <label class="item item-input item-select">
          <div class="input-label">
            Grosse ou petite faim ?
          </div>
          <select>
            <option selected>Grosse faim</option>
            <option>Petite faim</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Autres ?
          </div>
          <select>
            <option selected>Non</option>
            <option>Sans alcool</option>
            <option>Orientale</option>
          </select>
        </label>


      <label class="item item-input">
        <textarea placeholder="Description de la recette"></textarea>
      </label>
    </div>

    <div style="text-align:center;">
      <button class="button button-energized button-outline" ng-click="addItem()">Soumettre ma recette</button>
    </div>  -->

     <form ng-submit="addRecipe()">

            <input ng-model="titre" placeholder="titre" /> <br><br>
            <input ng-model="description" placeholder="description" /> <br><br>
            <input ng-model="difficulte" placeholder="difficulte" /> <br><br>
            <input ng-model="temps" placeholder="temps" /> <br><br>
            <input ng-model="nbPersonne" placeholder="nbPersonne" /> <br><br>

            <br><br>
            <button type="submit">
                Ajouter la recette
            </button>

        </form>

        <!--<button class="button button-icon ion-plus" ng-click="addRecette()"/>-->


    <ion-list>
        <ion-item ng-repeat="recipe in recipes">
            {{recipe.titre}} <br>

            {{recipe.description}} <br>

            {{recipe.difficulte}} <br>

            {{recipe.temps}} <br>

            {{recipe.nbPersonne}} <br>
        </ion-item>
    </ion-list>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


    </ion-content>


      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="liste-tag">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item energized" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>