<ion-view title="bases">

<div class="bar bar-header bar-rouge">
  <h1 class="title">TASTE!T</h1>
</div>

      <ion-content>


        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/standby.png">
            <h2>Sommaire : </h2>
            <a href=""><h2>- Faire de la mayonnaise</h2></a>
            <a href=""><h2>- Faire de la vinaigrette</h2></a>
          </div>

        </div>

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/standby.png">
            <h2>Leçon 1 :</h2>
            <h2>Faire de la mayonnaise</h2>
          </div>

          <div class="item item-body">
            <p>
              Difficulté : Facile<br>
              Temps de préparation : 10 min
            </p>
            <img class="full-image" src="../img/lecons/mayo-lec1.jpg">
            <h2>
              Ingrédients (pour 4 personnes):
            </h2>
              <ul>
                <li>1 jaune d'oeuf</li>
                <li>1 cuillère à soupe de moutarde forte</li>
                <li>1 filet de vinaigre</li>
                <li>10 cl d'huile neutre</li>
                <li>Du sel</li>
                <li>Du poivre</li>
                <li>&nbsp;</li>
              </ul>

              <hr>

              &nbsp;

              <h2>Préparation de la recette :</h2>
              <p>Gardez les ingrédients à température ambiante.<br>
                Commencez par mélanger le jaune d'oeuf avec un peu de sel, un peu de poivre, la cuillère à soupe de moutarde forte et le vinaigre.<br>
                Fouettez en versant l'huile peu à peu, la mayonnaise doit commencer à s'épaissir.<br>
                Vous pouvez également ajouter des herbes pour la parfumer !</p>
          </div>

        </div>

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/standby.png">
            <h2>Leçon 1 :</h2>
            <h2>Faire de la vinaigrette</h2>
          </div>

          <div class="item item-body">
            <p>
              Difficulté : Facile<br>
              Temps de préparation : 5 min
            </p>
            <img class="full-image" src="../img/lecons/mayo-lec1.jpg">
            <h2>
              Ingrédients (pour 2 personnes):
            </h2>
              <ul>
                <li>40 cl d'huile</li>
                <li>20 cl de vinaigre</li>
                <li>20 cl d'eau</li>
                <li>20 cl de moutarde</li>
                <li>1 cuillère à soupe rase de sel</li>
                <li>1 cuillère à soupe rase de poivre</li>
                <li>&nbsp;</li>
              </ul>

              <hr>

              &nbsp;

              <h2>Préparation de la recette :</h2>
              <p>Gardez les ingrédients à température ambiante.<br>
                Commencez par mélanger le jaune d'oeuf avec un peu de sel, un peu de poivre, la cuillère à soupe de moutarde forte et le vinaigre.<br>
                Fouettez en versant l'huile peu à peu, la mayonnaise doit commencer à s'épaissir.<br>
                Vous pouvez également ajouter des herbes pour la parfumer !</p>
          </div>

        </div>

        

        <p>&nbsp;</p>

        <p>&nbsp;</p>



      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="rech">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>