<ion-view title="bases">

<div class="bar bar-header bar-rouge">
  <h1 class="title">TASTE!T</h1>
</div>

      <ion-content delegate-handle="BasesDelegate">



        <hr class="anchorbases" id="ancre_somm">

        &nbsp;

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/logobases.png">
            <h2>Sommaire : </h2>
            <a ng-click="scrollTo('ancre_mayo')" style="text-decoration: underline; color: black;"><h2>- Faire de la mayonnaise</h2></a>
            <a ng-click="scrollTo('ancre_vina')" style="text-decoration: underline; color: black;"><h2>- Faire de la vinaigrette</h2></a>
            <a ng-click="scrollTo('ancre_omel')" style="text-decoration: underline; color: black;"><h2>- Faire une omelette</h2></a>
            <a ng-click="scrollTo('ancre_gatc')" style="text-decoration: underline; color: black;"><h2>- Faire un gâteau au chocolat</h2></a>
          </div>

        </div>

        <hr class="anchorbases" id="ancre_mayo">

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/logobases.png">
            <h2>Leçon 1 :</h2>
            <h2>Faire de la mayonnaise</h2>
            <a ng-click="scrollTo('ancre_somm')" style="text-decoration: underline; color: black;"><h2>Retour sommaire</h2></a>
          </div>

          <div class="item item-body">
            <p>
              Difficulté : Facile<br>
              Temps de préparation : 10 min
            </p>
            <img class="full-image" src="../img/lecons/mayo-lec1.jpg">
            <h2>
              Ingrédients (pour 4 personnes):
            </h2>
              <ul>
                <li>1 jaune d'oeuf</li>
                <li>1 cuillère à soupe de moutarde forte</li>
                <li>1 filet de vinaigre</li>
                <li>10 cl d'huile neutre</li>
                <li>Du sel</li>
                <li>Du poivre</li>
                <li>&nbsp;</li>
              </ul>

              <hr>

              &nbsp;

              <h2>Préparation de la recette :</h2>
              <p>Gardez les ingrédients à température ambiante.<br>
                Commencez par mélanger le jaune d'oeuf avec un peu de sel, un peu de poivre, la cuillère à soupe de moutarde forte et le vinaigre.<br>
                Fouettez en versant l'huile peu à peu, la mayonnaise doit commencer à s'épaissir.<br>
                Vous pouvez également ajouter des herbes pour la parfumer !</p>
          </div>

        </div>

        <hr class="anchorbases" id="ancre_vina">

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/logobases.png">
            <h2>Leçon 2 :</h2>
            <h2>Faire de la vinaigrette</h2>
            <a ng-click="scrollTo('ancre_somm')" style="text-decoration: underline; color: black;"><h2>Retour sommaire</h2></a>
          </div>

          <div class="item item-body">
            <p>
              Difficulté : Facile<br>
              Temps de préparation : 5 min
            </p>
            <img class="full-image" src="../img/lecons/vina-lec2.jpg">
            <h2>
              Ingrédients (pour 2 personnes):
            </h2>
              <ul>
                <li>40 cl d'huile</li>
                <li>20 cl de vinaigre</li>
                <li>20 cl d'eau</li>
                <li>20 cl de moutarde</li>
                <li>1 cuillère à soupe rase de sel</li>
                <li>1 cuillère à soupe rase de poivre</li>
                <li>&nbsp;</li>
              </ul>

              <hr>

              &nbsp;

              <h2>Préparation de la recette :</h2>
              <p>Rien de plus simple ici, il suffit de mélanger tous les ingrédients.
              L'eau permet d'alléger la vinaigrette et de mieux homogénéiser.</p>
          </div>

        </div>

        <hr class="anchorbases" id="ancre_omel">

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/logobases.png">
            <h2>Leçon 3 :</h2>
            <h2>Faire une omelette</h2>
            <a ng-click="scrollTo('ancre_somm')" style="text-decoration: underline; color: black;"><h2>Retour sommaire</h2></a>
          </div>

          <div class="item item-body">
            <p>
              Difficulté : Facile<br>
              Temps de préparation : 15 min
            </p>
            <img class="full-image" src="../img/lecons/omel-lec3.jpg">
            <h2>
              Ingrédients :
            </h2>
            <ul>
              <li>2 oeufs (par personne) + 1</li>
              <h2>Suppléments :</h2>
              <li>1 tranche de jambon</li>
              <li>Du gruyère rapé</li>
              <li>&nbsp;</li>
            </ul>

            <hr>

            &nbsp;

            <h2>Préparation de la recette :</h2>
            <p>Cassez les oeufs dans un saladier et remuez bien pendant 5 min.<br>
            Pendant ce temps, faites chauffer la plaque de cuisson et placez votre poêle dessus.<br>
            Versez les oeufs battus sur la poêle, faites en sorte que cela prenne tout l'espace.<br>
            A l'aide d'une cuillère en bois, percez légérement l'omelette afin de bien la faire cuire.<br>
            Pour les suppléments, versez des morceaux de jambon prédécoupés et du gruyère.<br>
            Vous pouvez ajouter du poivre pour le goût.<br>
            Laisser cuire 2-3 min.<br>
            Repliez l'omelette sur elle-même et sortez là de la poêle.</p>
          </div>

        </div>

        <hr class="anchorbases" id="ancre_gatc">

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/logobases.png">
            <h2>Leçon 4 :</h2>
            <h2>Faire un gâteau au chocolat</h2>
            <a ng-click="scrollTo('ancre_somm')" style="text-decoration: underline; color: black;"><h2>Retour sommaire</h2></a>

          </div>

          <div class="item item-body">
            <p>
              Difficulté : Moyen<br>
              Temps de préparation : 20 min
            </p>
            <img class="full-image" src="../img/lecons/gatc-lec4.jpg">
            <h2>
              Ingrédients (pour 4 personnes):
            </h2>
            <ul>
              <li>3 oeufs</li>
              <li>1/2 sachet de levure chimique</li>
              <li>200g de chocolat noir</li>
              <li>100g de beurre</li>
              <li>4 cuillères à soupe rases de farine</li>
              <li>3 cuillères à soupe de sucre en poudre</li>
              <li>&nbsp;</li>
            </ul>

            <hr>

            &nbsp;

            <h2>Préparation de la recette :</h2>
            <p>Commencez par préchauffer le four à 180° (Th. 6).<br>
              Faites fondre le beurre et le chocolat cassé en morceaux dans un saladier, au micro-ondes pendant 2 minutes à 500 W.<br>
              Séparez les blancs des jaunes d'oeufs et ajoutez les jaunes d'oeufs, le sucre et la fraine au chocolat fondu, puis mélangez.<br>
              Incorporez la levure et continuez de mélanger.<br>
              Ajoutez ensuite les blancs d'oeufs battus en neige.<br>
              Versez ensuite le mélange dans un moule à manqué beurré.<br>
              Enfournez 20 à 25 minutes.</p>
          </div>

        </div>

        

        <p>&nbsp;</p>

        <p>&nbsp;</p>



      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="liste-tag">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>

<!-- Back on Mac -->