<ion-view title="contact">

<div class="bar bar-header bar-vert">
  <h1 class="title">TASTE!T</h1>
</div>

      <ion-content>

        <h1 class="gros_cont padding" style="margin-top: 10%;">Contactez nous !</h1>

            <div id="map" data-tap-disabled="true"></div>


        <p class="cont_text padding" style="margin-top: 5%;">Vous souhaitez nous faire part d'une <strong class="strong_cont">suggestion</strong> suceptible d'améliorer l'application, d'un <strong class="strong_cont">bug</strong> que vous avez rencontré ou tout simplement d'un <strong class="strong_cont">message d'amour</strong> au chocolat ?
          <br>
          Vous êtes au <strong class="strong_cont">bon endroit !</strong></p>


         <!-- <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Objet du message" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Votre email (facultatif)">
            </label>
            <label class="item item-input">
              <textarea placeholder="Votre message..." required></textarea>
            </label>

            <div class="padding bouton_cont ">
              <button class="button button-outline button-balanced">
                Envoyer
              </button>
            </div>
          </div> -->

          <p class="cont_text padding">Envoyez nous un mail à l'adresse <strong class="strong_cont">contact@tasteit.fr</strong></p>
          <p class="cont_text padding">Ou retrouvez nous sur les <strong class="strong_cont">réseaux sociaux</strong> et faites nous part de vos commentaires !</p>

          <div class="container-rs" style="margin-top:10%;">


                <img class="img-rs" src="img/fb.png" alt="fb" href="">


                <img class="img-rs" src="img/gg.png" alt="google+">


                <img class="img-rs" src="img/twitter-rond.png">

            </div>

      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="liste-tag">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item balanced active" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>