<ion-view title="hasard">


  <div class="bar bar-header bar-vert">
    <h1 class="title">TASTE!T</h1>
    <button class="button button-icon ion-plus" ui-sref="add-recipe"></button>
  </div>

      <ion-content>

        <h1>Recette au hasard</h1>
        &nbsp;

        <p class="titre-gauche" id="hasardtitre">Jetez les dés !</p>

        <div class="padding" id="recthas">

            <h3 id="prephas">Difficulté :</h3>
            <p id="hasarddiff">Jetez les dés !</p>


            <h3 id="prephas">Préparation de la recette :</h3>
            <p id="hasarddesc">Jetez les dés !</p>

        </div>


        <div style="text-align:center;">
          <button class="button relancer" ng-click="hasardArticle()">
            Découvrir la recette du jour !!
          </button>
        </div>

      </ion-content>


      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="rech">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>