<ion-view title="hasard">

  <div class="bar bar-header bar-jaune">
    <button class="button icon ion-navicon burger"></button>
    <h1 class="title">TASTE!T</h1>
  </div>

      <ion-content>


    <h3>Accueil > Recettes > <u>Recettes du Jour</u></h3>

        <h1 class="yellow">Croque Madame</h1>

        <img src="../img/croque.jpg" class="croque-recette">

        <i class="icon ion-star mid"><hr></i>

        <p class="description">Croque Madame sur son lit de salade</p>

        <i class="icon ion-clock mid"><hr class="second"></i>

        <p class="temps"><u>Temps de préparation</u>:<strong> 3 minutes</strong>
          <br>
            <u>Temps de cuisson</u>: <strong>15 minutes</strong></p>

        <p class="ingredients"><u>Ingrédients (pour 2 personnes)</u> : <br>
          - 4 belles tranches de pain de mie, celui que vous préférez : aux céréales, complet, nature...<br>
          - 2 œufs bien frais<br>
          - 2 belles tranches de jambon cuit au torchon, du vrai svp !<br>
          - 10 g de beurre<br>
          - 30 g de gruyère râpé<br>
          - sel et poivre</p>

        <p class="prepa"><u>Préparation de la recette</u> :
          <br><br>

          Saisir d'une main une tranche de pain de mie. Couvrir d'une tranche de jambon pliée en deux. Déposer du gruyère râpé, autant que vous le souhaitez. Saler et poivrer. Recouvrez de la deuxième tranche de pain. Préparer ainsi les deux croques.
          Dans une poêle, faire fondre le beurre sans qu'il noircisse. Casser les œufs : ils doivent être "au plat". Laisser cuire à votre goût, saler et poivrer.
          Réserver.
          Déposer ensuite les croques dans la poêle, laissez-les dorer gentiment des deux côtés puis déposer sur chacun un œuf au plat tout chaud ! Très bon appétit ! </p>

        <p class="footerr"> <img src="../img/rate.png" class="rate"><strong>22 votes</strong></p>  <p class="footer"><u>Difficulté</u> : <strong>Facile</strong></p>

        <button class="button button-energized commentaire">
Commentaires (30)
        </button>


      </ion-content>


      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="rech">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>