<ion-view title="home">

  <div ng-app="sampleApp" ng-controller="SampleCtrl" style="padding-top: 5%">

      <ion-content>

        <div id="title_home_one" class="padding">TASTE!T</div>

        <div id="boutons" class="padding">

          <button class="button vert" ui-sref="hasard">
            Hasard
            <img class="img-btn-princ" src="../img/de.png" alt="dés hasard">
          </button>

          <button class="button jaune" ui-sref="liste">
            Liste
            <img class="img-btn-princ" src="../img/book.png" alt="book">
          </button>

          <button class="button rouge" ui-sref="bases">
            Bases
            <img class="img-btn-princ" src="../img/marm.png" alt="bases">
          </button>

        </div>


      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="liste-tag">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item assertive active" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>