<ion-view title="home">


      <ion-content>
      </ion-content>

      <div class="tabs tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>