<ion-view title="liste">

<div class="bar bar-header bar-jaune">
  <h1 class="title">TASTE!T</h1>
  <button class="button button-icon ion-ios-plus-outline" ui-sref="test-content" style="color: white;"></button>
</div>

    <ion-content class="margin-liste-top" ng-controller="ListCtrl">


     
<h2>&nbsp;</h2>

        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="search" ng-model="searchQuery"/>
        </label>

        <ion-item ng-repeat="recette in recettes | filter:searchQuery">

        <div class="list card" ui-sref="single-rec" ng-click="single(single)">

          <div class="item item-avatar">
            <h2>Nom : {{recette.recettename}}</h2>
            <p>Pour : {{recette.nbPers}} personne(s)</p>
          </div>

          <div class="item item-body">
            
              <p>Cliquez pour voir les détails !</p>
            
            <p>
              <a class="subdued">Difficulté : {{recette.diff}}</a>
              <a class="subdued">Temps : {{recette.temps}} min</a>
            </p>

            <p>
              <a class="subdued">Type : {{recette.genre}}</a><br>
              <a class="subdued">{{recette.sucsal}}</a>
            </p>

            <p>
              <a class="subdued">{{recette.faim}}</a>
            </p>

            <p>
              <a class="subdued">Alcool ? {{recette.alcool}} -</a>
              <a class="subdued">Autres : {{recette.autres}} </a>
            </p>

            <button class="button button-energized">Votez</button>
            <button class="button button-energized button-outline" disabled>{{ recette.vote }}</button>

          </div>

        </div>

        </ion-item>



      <p>&nbsp;</p>



    </ion-content>


      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="rech">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item energized active" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>