<ion-view title="Sign In">
    <ion-content class="font_login">
        <div class="padding-left padding-top padding-right">

            <h1 id="title_home">TASTE !T</h1>

        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Identifiant" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Mot de passe" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="login(username, password)" class="button button-block button-assertive rech-text">Se connecter</button>
                <button ng-click="register(username, password)" class="button button-block button-energized rech-text">S'inscrire</button>
                
            </div>

            <div class="container-rs">

                <a href="#">
                <img class="img-rs" src="../img/fb.png" alt="fb" href="">
                </a>
                
                <img class="img-rs" src="../img/gg.png" alt="google+">

                
                <img class="img-rs" src="../img/twitter-rond.png">

            </div>

        </div>

            
    </ion-content>

    <div class="bar bar-footer bar-balanced foot">
        <div class="title">Copyright 2016 © - Tous droits réservés à MaAy Inc.</div>
    </div>

</ion-view>