<ion-view title="Sign In">
    <ion-content class="font_login">
        <div class="padding-left padding-top padding-right">

            <h1 id="title_home">TASTE !T</h1>

        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Identifiant (email)" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Mot de passe" />
                </label>
            </div>
            <div class="padding button-center" style="text-align: center;">
                <button ng-click="login(username, password)" class="button button-assertive rech-text">Se connecter</button><br><br>
                <button ng-click="register(username, password)" class="button button-energized rech-text">S'inscrire</button>
                
            </div>

            <div class="container-rs">
                <div ng-app="sampleApp" ng-controller="SampleCtrl" style="padding-top: 5%">



                     <div ng-show="authData">  POUR FACEBOOK
                         <p>{{ authData.facebook.displayName }}</p>
                         <button class="button button-calm" ng-click="auth.$unauth()" ui-sref="login">Logout</button>
                     </div>


                    <div ng-show="authData">  POUR GOOGLE
                        <p>{{ authData.google.displayName }}</p>
                        <button class="button button-calm" ng-click="auth.$unauth()" ui-sref="login">Logout</button>
                    </div>


                <div ng-show="authData">  POUR TWITTER
                        <p>{{ authData.twitter.displayName }}</p>
                        <button class="button button-calm" ng-click="auth.$unauth()" ui-sref="login">Logout</button>
                    </div>



                    <div>
                        <button class="button button-positive ion-social-facebook" ng-click="auth.$authWithOAuthPopup('facebook')" ui-sref="home"></button>
                        <button class="button button-assertive ion-social-googleplus" ng-click="auth.$authWithOAuthPopup('google')" ui-sref="home"></button>
                        <button class="button button-calm ion-social-twitter" ng-click="auth.$authWithOAuthPopup('twitter')" ui-sref="home"></button>
                    </div>

                </div>
            </div>

            &nbsp;

            <p class="text-rs">Retrouvez nous sur les réseaux sociaux !</p>

        </div>

            
    </ion-content>

    <div class="bar bar-footer bar-balanced foot">
        <div class="title">Copyright 2016 © - Tous droits réservés à MaAy Inc.</div>
    </div>

</ion-view>