<ion-view title="rech">

<div class="bar bar-header bar-vert">
  <h1 class="title">TASTE!T</h1>
</div>


      <ion-content ng-controller="ListCtrl">



          <h1 class="bouche-trou">&nbsp;</h1>
          <p class="rech-text padding">Recherchez vos recettes préférées en choisissant le tag de votre choix !</p>

        <!--<div id="rech-btns" class="padding" ng-model="searchQuery" ng-controller="RechCtrl">

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Facile')">
                Facile
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Moyen')">
                Moyen
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Difficile')">
                Difficile
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('- de 5 min')">
                - de 5 min
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('5 - 10 min')">
                5 - 10 min
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('10 - 30 min')">
                10 - 30 min
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('+ de 30 min')">
                + de 30 min
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Sucré')">
                Sucré
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Salé')">
                Salé
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Appéritif')">
                Appéritif
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Entrée')">
                Entrée
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Plat')">
                Plat
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Dessert')">
                Dessert
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Soupe')">
                Soupe
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Gâteau')">
                Gâteau
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Petite faim')">
                Petite faim
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Grosse faim')">
                Grosse faim
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Cocktail')">
                Cocktail
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Sans alcool')">
                Sans alcool
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Épicé')">
                Épicé
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Orientale')">
                Orientale
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Fruits')">
                Fruits
              </button>

              <button class="button button-outline button-balanced espace rech-text" ng-click="showDiv('Légumes')">
                Légumes
              </button>

            <h3 class="rech-text">Et plus encore à venir...</h3>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

        </div>-->




              <label class="item item-input item-select">
                  <i class="icon ion-search placeholder-icon" ></i>

                  <select ng-model="searchQuery" style="text-align: left;" ng-controller="RechCtrl" >
                      <option ng-click="showDiv()">Facile</option>
                      <option selected>Green</option>
                      <option>Red</option>
                  </select>

                  <!-- <input id="paramrech" type="search" ng-model="searchQuery" placeholder="Recherche..."> -->

                  <!--  <textarea ng-model="searchQuery" id="paramrech"></textarea>

                    <input type="text" text="facile" ng-model="searchQuery">-->

              </label>



             <!-- <div class="padding">
                  <button  class="button button-outline button-balanced espace rech-text" id="paramrech" >
                    >
                  </button>
              </div>  -->
          <div id="rechrech">

              <ion-item ng-repeat="recette in recettes | filter:searchQuery">

                  <div class="list card"  ui-sref="single-rec" ng-click="single(single)">

                      <div class="item item-avatar">
                          <h2>Nom : {{recette.recettename}}</h2>
                          <p>Pour : {{recette.nbPers}} personne(s)</p>
                      </div>

                      <div class="item item-body">

                          <p>Cliquez pour voir les détails !</p>

                          <p>
                              <a class="subdued">Difficulté : {{recette.diff}}</a>
                              <a class="subdued">Temps : {{recette.temps}} min</a>
                          </p>

                          <p>
                              <a class="subdued">Type : {{recette.genre}}</a><br>
                              <a class="subdued">{{recette.sucsal}}</a>
                          </p>

                          <p>
                              <a class="subdued">{{recette.faim}}</a>
                          </p>

                          <p>
                              <a class="subdued">Alcool ? {{recette.alcool}} -</a>
                              <a class="subdued">Autres : {{recette.autres}} </a>
                          </p>

                          <button class="button button-vert">Votez</button>
                          <button class="button button-verte" disabled>{{ recette.vote }}</button>

                      </div>

                  </div>

              </ion-item>


          </div>

      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item balanced active" ui-sref="liste-tag">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="bases">
          <i class="icon ion-university"></i>
          Bases
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>