<ion-view title="rech">

<div class="bar bar-header bar-vert">
  <h1 class="title">TASTE!T</h1>
</div>


      <ion-content>


        <h1 class="bouche-trou">Coucou :*</h1>
        <p class="rech-text padding">Recherchez vos recettes préférées ici !</p>

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>

        <div id="rech-btns" class="padding">

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Facile
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Moyen
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Difficile
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          - de 5 min
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          5 - 10 min
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          10 - 30 min
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          + de 30 min
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Sucré
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Salé
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Appéritifs
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Entrées
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Plats
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Desserts
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Soupes
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Gâteaux
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Petite faim
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Grosse faim
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Cocktail
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Sans alcool
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Epicé
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Orientale
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Fruits
        </button>

        <button class="button button-outline button-balanced espace" ui-sref="liste-tag">
          Légumes
        </button>

        <h3 class="rech-text">Et plus encore à venir...</h3>

        </div>

      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item balanced active" ui-sref="rech">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>