<ion-view title="single-rec" ng-controller="SingleController">

  <div class="bar bar-header bar-jaune" ng-controller="BackCtrl">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="myGoBack()"> Retour</button>
    <h1 class="title">TASTE!T</h1>
  </div>


      <ion-content>


        <h1>La recette</h1>

        <div class="list card">

          <div class="item item-avatar">
            <h2>Nom : {{single.recettename}}</h2>
            <p>Pour : {{single.nbPers}} personne(s)</p>
          </div>

          <div class="item item-body">

            {{single.etapes}}

            <p>
              <a class="subdued">Difficulté : {{single.diff}}</a>
              <a class="subdued">Temps : {{single.temps}} min</a>
            </p>

            <p>
              <a class="subdued">Type : {{single.type}}</a>
              <a class="subdued">{{single.sucsal}}</a>
            </p>

            <p>
              <a class="subdued">{{single.faim}}</a>
            </p>

            <p>
              <a class="subdued">Alcool ? {{single.alcool}} </a>
              <a class="subdued">Autres : {{single.autres}} </a>
            </p>

            <button class="button button-energized">Votez</button>
            <button class="button button-energized button-outline" disabled>{{ single.vote }}</button>

          </div>

        </div>






       <!-- <h3>Accueil > Recettes > <u>Recettes du Jour</u></h3>

        <h1 class="yellow">{Titre recette}</h1>

        <img src="../img/croque.jpg" class="croque-recette">

        <i class="icon ion-star mid padding"><hr></i>

        <p class="description">{ Titre détaillé }</p>

        <i class="icon ion-clock mid padding"><hr class="second"></i>

        <div class="padding">

        <p class="temps"><u>Temps de préparation :</u><strong> { temps 1 }</strong>
          <br>
            <u>Temps de cuisson :</u><strong> { temps 2 }</strong></p>

        <p class="ingredients">

          <u>Ingrédients pour { nb pers } personne(s)</u> : <br>
          
          - { liste ingrédients }<br>
          - ...



        </p>

        <p class="prepa"><u>Préparation de la recette</u> :
          <br><br>

          { description recette }
          
        </p>

        <p class="footerr"> <img src="../img/rate.png" class="rate"><strong>{ nb votes } votes</strong></p>  <p class="footer"><u>Difficulté</u> : <strong>{ diff }</strong></p>

        </div>

        <div style="text-align:center;">
          <button class="button button-energized commentaire">
          Commentaires ( {nb comments} ) 
          </button>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

-->
      </ion-content>

      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="liste-tag">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="bases">
          <i class="icon ion-university"></i>
          Bases
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>


</ion-view>