<ion-view view-title="test-content" ng-app="starter" ng-controller="AddRecetteController">

<div class="bar bar-header bar-jaune">
  <h1 class="title">TASTE!T</h1>
</div>

    <ion-content>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

        <form ng-submit="addRecette()">

            <input ng-model="titre" placeholder="titre" /> <br><br>
            <input ng-model="description" placeholder="description" /> <br><br>
            <input ng-model="difficulte" placeholder="difficulte" /> <br><br>
            <input ng-model="temps" placeholder="temps" /> <br><br>
            <input ng-model="nbPersonne" placeholder="nbPersonne" /> <br><br>

            <br><br>
            <button type="submit">
                Ajouter la recette
            </button>

        </form>

        <button class="button button-dark" ng-click="addRecipe()">Ok</button>


    <ion-list>
        <ion-item ng-repeat="recette in recettes">
            {{recette.titre}} <br>

            {{recette.description}} <br>

            {{recette.difficulte}} <br>

            {{recette.temps}} <br>

            {{recette.nbPersonne}} <br>
        </ion-item>
    </ion-list>


    </ion-content>


      <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="rech">
          <i class="icon ion-ios-search"></i>
          Recherche
        </a>
        <a class="tab-item energized active" ui-sref="liste">
          <i class="icon ion-ios-nutrition"></i>
          Recettes
        </a>
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios-home"></i>
          Accueil
        </a>
        <a class="tab-item" ui-sref="tend">
          <i class="icon ion-ios-star"></i>
          Tendances
        </a>
        <a class="tab-item" ui-sref="contact">
          <i class="icon ion-ios-email"></i>
          Contact
        </a>

      </div>



</ion-view>
