<ion-view view-title="test-content">

    <div class="bar bar-header bar-jaune">
        <h1 class="title">TASTE!T</h1>
    </div>

    <ion-content>
        <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
            <img ng-src="https://firebasestorage.googleapis.com/v0/b/project-4368010256781964348.appspot.com/o/angryleo.gif?alt=media&token=0e81f2cd-fa53-4cfc-9add-2b95a5d4d7b6" style="height:200px; padding: 5px 5px 5px 5px;"/>
        </ion-scroll>

    </ion-content>


    <!-- NE PAS TOUCHER LE MENU CI-DESSOUS -->

    <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="liste-tag">
            <i class="icon ion-ios-search"></i>
            Recherche
        </a>
        <a class="tab-item" ui-sref="liste">
            <i class="icon ion-ios-nutrition"></i>
            Recettes
        </a>
        <a class="tab-item" ui-sref="home">
            <i class="icon ion-ios-home"></i>
            Accueil
        </a>
        <a class="tab-item" ui-sref="bases">
            <i class="icon ion-university"></i>
            Bases
        </a>
        <a class="tab-item" ui-sref="contact">
            <i class="icon ion-ios-email"></i>
            Contact
        </a>

    </div>



</ion-view>
