/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "DK";
    src: url('../font/DKLemonYellowSun.otf');
}

@font-face {
    font-family: "Strawberry";
    src: url('../font/StrawberryMuffinsDemo.ttf');
}

#boutons {
	text-align: center;
}

.vert {
	height: 470px;
	width: 27%;
}

.jaune {
	height: 470px;
	width: 27%;
}

.rouge {
	height: 470px;
	width: 27%;
}

#title_home {
	font-family: "DK", Arial, serif;
	font-size: 4em;
	text-align: center;
	padding-top: 20%;
}

.title {
	color: white;
	font-family: "DK", Arial, serif;
}

.style-lien {
	color: black;
}

.bar-rouge {
	background-color: #F93B07;
}

.foot {
	font-size: 0.5em;
}

.img-rs {
	width: 15%;
}

.container-rs {
	text-align: center;
}

/*////////////////// PAGE RECHERCHE ////////////////////*/

.bar-vert {
	background-color: #71AF04;
}

.rech-text {
	font-family: "Strawberry", Arial, serif;
	font-size: 1.5em;
}

.espace {
	margin-top: 1.5%;
}







/*/////////////////// PAGE LISTE RECETTE ///////////////////*/

.bar-jaune {
	background-color: #FFB90D;
}

.icon-liste-blanc {
	color: white;
}









/*/////////////////// PAGE CONTACT ///////////////////////*/

.cont_text {
	text-align: justify;
}

.gros_cont {
	font-family: "DK", Arial, serif;
	text-align: center;
}

.strong_cont {
	color: #71AF04;
}

.bouton_cont {
	text-align: center;
	color: white;
}



/*//////////////// LOGIN //////////////////*/

.font_login {
	background-image: url(../img/fruitfond2.jpg);
	background-size: contain;
}
